# Node
node_modules/
dist/

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
*.swp

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Databases (legacy)
*.db
*.db-shm
*.db-wal

# Local Netlify folder
.netlify
